# dependencies
/node_modules

# next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# testing
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# misc
.DS_Store
*.pem
.env*.local
npm-debug.log*
__pycache__/

# exported videos
/video/
